@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title style="">Restaurant Ordering System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Include AdminLTE CSS -->
    <link rel="stylesheet" href="~/AdminLTE/css/adminlte.css">
    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/css/adminlte.min.css">
    <!-- Add other CSS files as needed -->
    <!-- Include jQuery -->
    <script src="~/AdminLTE/js/adminlte.min.js"></script>
    <!-- Include Bootstrap -->
    <script src="~/AdminLTE/js/popper.min.js"></script>
    <!-- Include AdminLTE JS -->
    <script src="~/AdminLTE/js/adminlte.js"></script>
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/AdminLTE/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    
</head>
<!-- Left navbar links -->
<body>


    <h1 style="margin-left:4em;">WELCOME TO OUR DIGITAL ORDERING SERVICE</h1>
    <hr />
<div class="card card-primary" style="max-width:50%;margin:0 auto;margin-top:3em;">
            <div class="card-header"> 
   <h2 class="card-title"style="margin-left:10em;">TELL US A LITTLE ABOUT YOU</h2>
</div>
<form id="user-info-form" method="post">
<div class="card-body">
   <div class="form-group">
       <label for="Customer_Name">Full Name</label>
       <input type="text" class="form-control" id="Customer_Name" placeholder="Enter FullName">
   </div>
   <div class="form-group">
       <label for="Customer_Mail">Email address</label>
       <input type="email" class="form-control" id="Customer_Mail" placeholder="Enter email">
   </div>
   <div class="form-group">
       <label for="Customer_Phone">Mobile Number</label>
       <input type="text" class="form-control" id="Customer_Phone" placeholder="Enter Mobile Number">
   </div>
</div>

               <div class="card-footer" >
                <button type="submit" class="btn btn-primary" style="margin-left:16.5em;">Submit</button>
               </div>

 </form>
</div>

    <script src="~/js/customer-login.js"></script>
</body>

</html> 