@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Admin/AdminDashboard.cshtml";
}

<body>
    <h1>@ViewData["Title"]</h1>
    <div id="pending-payments">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">                 
                        CUSTOMERS
                </h3>
                
                
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="customers-table">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer Mail</th>
                        <th>Customer Phone</th>
                    </tr>
                </thead>
                <tbody>  </tbody>
            </table>
        </div>

    </div>
    <script src="~/js/admin-customers.js"></script>
</body>